USE [master]
GO
/****** Object:  Database [Organizations]    Script Date: 24.01.2023 15:57:05 ******/
CREATE DATABASE [Organizations]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Organizations', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Organizations.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Organizations_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Organizations_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Organizations].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Organizations]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 24.01.2023 15:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](6) NULL,
	[Employees] [int] NOT NULL,
 CONSTRAINT [PK_Organizations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionTable]    Script Date: 24.01.2023 15:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubscriptionDate] [date] NOT NULL,
	[Months] [int] NOT NULL,
	[Discount] [float] NOT NULL,
	[Publication] [int] NOT NULL,
	[Organization] [int] NOT NULL,
 CONSTRAINT [PK_SubscriptionTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publications]    Script Date: 24.01.2023 15:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Pages] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Publications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_1]    Script Date: 24.01.2023 15:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_1]
AS
SELECT        dbo.SubscriptionTable.SubscriptionDate, dbo.SubscriptionTable.Months, dbo.SubscriptionTable.Discount, dbo.Publications.Name AS PublName, dbo.Organizations.Name AS OrgName, dbo.Publications.Pages, 
                         dbo.Publications.Photo
FROM            dbo.Organizations INNER JOIN
                         dbo.SubscriptionTable ON dbo.Organizations.Id = dbo.SubscriptionTable.Organization INNER JOIN
                         dbo.Publications ON dbo.SubscriptionTable.Publication = dbo.Publications.Id
GO
SET IDENTITY_INSERT [dbo].[Organizations] ON 

INSERT [dbo].[Organizations] ([Id], [Name], [Address], [Phone], [Employees]) VALUES (1, N'ООО МобПро', N'Декабристов, 12', N'745504', 100)
INSERT [dbo].[Organizations] ([Id], [Name], [Address], [Phone], [Employees]) VALUES (2, N'ООО Опекс', N'Ленинградский пр-т, 62', N'771619', 50)
INSERT [dbo].[Organizations] ([Id], [Name], [Address], [Phone], [Employees]) VALUES (3, N'ООО Росгидромет', N'Кутузовский пр-т, 26', NULL, 30)
SET IDENTITY_INSERT [dbo].[Organizations] OFF
GO
SET IDENTITY_INSERT [dbo].[Publications] ON 

INSERT [dbo].[Publications] ([Id], [Name], [Type], [Pages], [Price], [Photo]) VALUES (1, N'Панорама ', N'газета ', 30, 12, N'Панорама.png')
INSERT [dbo].[Publications] ([Id], [Name], [Type], [Pages], [Price], [Photo]) VALUES (2, N'Телесемь', N'газета', 40, 15, N'Телесемь.png')
INSERT [dbo].[Publications] ([Id], [Name], [Type], [Pages], [Price], [Photo]) VALUES (3, N'I Love You', NULL, 60, 30, N'ILoveYou.png')
SET IDENTITY_INSERT [dbo].[Publications] OFF
GO
SET IDENTITY_INSERT [dbo].[SubscriptionTable] ON 

INSERT [dbo].[SubscriptionTable] ([Id], [SubscriptionDate], [Months], [Discount], [Publication], [Organization]) VALUES (1, CAST(N'2020-01-06' AS Date), 5, 0.02, 1, 3)
INSERT [dbo].[SubscriptionTable] ([Id], [SubscriptionDate], [Months], [Discount], [Publication], [Organization]) VALUES (3, CAST(N'2020-01-06' AS Date), 3, 0.01, 9, 5)
INSERT [dbo].[SubscriptionTable] ([Id], [SubscriptionDate], [Months], [Discount], [Publication], [Organization]) VALUES (5, CAST(N'2020-01-08' AS Date), 7, 0.12, 1, 7)
SET IDENTITY_INSERT [dbo].[SubscriptionTable] OFF
GO
ALTER TABLE [dbo].[SubscriptionTable]  WITH CHECK ADD  CONSTRAINT [FK_SubscriptionTable_Organizations] FOREIGN KEY([Organization])
REFERENCES [dbo].[Organizations] ([Id])
GO
ALTER TABLE [dbo].[SubscriptionTable] CHECK CONSTRAINT [FK_SubscriptionTable_Organizations]
GO
ALTER TABLE [dbo].[SubscriptionTable]  WITH CHECK ADD  CONSTRAINT [FK_SubscriptionTable_Publications] FOREIGN KEY([Publication])
REFERENCES [dbo].[Publications] ([Id])
GO
ALTER TABLE [dbo].[SubscriptionTable] CHECK CONSTRAINT [FK_SubscriptionTable_Publications]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[42] 4[33] 2[8] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Organizations"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Publications"
            Begin Extent = 
               Top = 127
               Left = 253
               Bottom = 257
               Right = 427
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SubscriptionTable"
            Begin Extent = 
               Top = 6
               Left = 462
               Bottom = 136
               Right = 641
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2175
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
USE [master]
GO
